<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="style.css" rel="stylesheet">
      </head>
      <body>

            <section id="info" class="first">
                  <div class="container-fluid ">
                        <div class="row">
                              <div class="col-lg-12">
                                    <div class="text-center">
                                          <H1 style="color:black">Good Diet</H1>
                                          <hr class="h mx-auto">
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>




            <section id="info" class="second">
                  <div class="container-fluid ">
                        <div class="row">
                              <div class="col-lg-12">
                                    <div class="text-center">
                                          <h3 style="color:aliceblue">|| A POSITIVE NOTE ||</h3>
                                          <hr class="h mx-auto">
                                          <p style="color:aliceblue" align="justify">It is never too late to start an
                                                exercise
                                                and make changes to your lifestyle for better health. Whether your goal
                                                is to lose weight, improve on muscle tone, or just feel better about
                                                yourself and gain energy, exercise is the place to start.

                                                This part of our site had been designed to help you.
                                                We want to provide you with the tools and information
                                                you need to start on an exercise program, meet your fitness
                                                goals, and ultimately, maintain them. Furthermore, we want to
                                                make sure that you stay healthy and injury-free in the process.</p>
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>


            <div class="line1">
                  <div class="text-center">
                  </div>
            </div>




            <section id="info" class="second">
                  <div class="container-fluid ">
                        <div class="row">
                              <div class="col-lg-12">
                                    <div class="text-center">
                                          <ul>
                                                <h5 style="color:aliceblue">Benefits OF Good Diet</h5>
                                                <hr class="h mx-auto">
                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b> Support a Strong Immune System</b>
                                                            You rely on your immunity to defend against
                                                            bacteria, viruses, fungi, and other foreign invaders.
                                                            However, poor nutrition starves your immune system of
                                                            the proper vitamins and minerals it needs to produce
                                                            antibodies. If you focus on eating well, you are less
                                                            likely to become sick.
                                                      </p>
                                                </li>

                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b>Increase Your Energy Level </b>
                                                            The whole purpose of eating is to derive
                                                            energy from your food. “Empty calories”
                                                            found in soda, processed snacks, and other
                                                            junk food may fill your stomach, but they
                                                            fail to provide high-quality energy.
                                                            For that, you need complex carbohydrates,
                                                            healthy fats, and protein. Also, if you have
                                                            unexplained fatigue, try increasing your iron
                                                            intake with seafood, poultry, dark leafy greens,
                                                            and peas. Your body also absorbs iron better if
                                                            you eat it with vitamin C, which is found in foods
                                                            like broccoli, peppers, oranges, and tomatoes.

                                                      </p>
                                                </li>

                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b> Save on Medical Expenses </b>
                                                            It’s expensive to be unhealthy! With nearly
                                                            two out of three American adults weighing
                                                            in above average, far too many people have
                                                            coronary heart disease, strokes, cancer, and
                                                            diabetes. The Department of Agriculture estimates
                                                            that if more people ate a balanced diet to avoid
                                                            these preventable diseases, it could save $71 billion
                                                            a year in medical costs and spare countless lives.

                                                      </p>
                                                </li>


                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b>Reduce the Risk of Chronic Illness </b>
                                                            A large portion of medical bills goes toward
                                                            treating diet-related chronic illnesses, such
                                                            as type 2 diabetes. While genetics play a role
                                                            in how likely you are to contract type 2, even
                                                            the most at-risk individual is unlikely to get
                                                            the disease if they eat a balanced diet. If diabetes
                                                            runs in your family, it’s more important than ever
                                                            to watch your sugar intake so you don’t put yourself
                                                            at greater risk.
                                                      </p>
                                                </li>


                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b> Slow the Effects of Aging</b>
                                                            Foods high in antioxidants—including
                                                            berries, kale, spinach, red cabbage,
                                                            nuts, beans, and dark chocolate—have
                                                            anti-aging properties that help your
                                                            body function better as you age. You may
                                                            be less prone to wrinkles, heart disease,
                                                            and even cancer if you include antioxidants
                                                            in your balanced diet.

                                                      </p>
                                                </li>



                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b>Help You Live Longer </b>
                                                            Although not an official cause of death,
                                                            being overweight is a leading precursor
                                                            of premature death in the US. According
                                                            to research published in 2013, 18 percent
                                                            of all deaths can be attributed to poor
                                                            diet and/or sedentary lifestyle. If you
                                                            want to live a long life with fewer health
                                                            complications, focus on eating better.


                                                      </p>
                                                </li>




                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b> Improve Your Mental Health and Wellbeing </b>
                                                            Your body isn’t the only thing that benefits
                                                            when you eat a balanced diet; your mental health
                                                            also improves! You may routinely reach for junk
                                                            food when you’re feeling down, but what you really
                                                            need to boost your spirits is a diet full of vitamins
                                                            minerals, essential fatty acids, and complex carbohydrates
                                                            . A 2017 study found that eating more fruits, vegetables,
                                                            legumes, beans, nuts, whole grains, fish, and olive oil
                                                            reduced symptoms of depression among participants, which
                                                            lasted for six months after the experiment.

                                                      </p>
                                                </li>



                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b> Enhance Your Mental Focus </b>
                                                            Healthy food not only improves your mood,
                                                            but it also sharpens your mental focus.
                                                            According to Harvard Medical School,
                                                            saturated fat, trans fat, and cholesterol
                                                            can damage brain tissue and even lead to
                                                            strokes. On the other hand, foods high in
                                                            healthy mono- and polyunsaturated fats—such
                                                            as olive oil, fish, and nuts—have been linked
                                                            to lower rates of dementia.


                                                      </p>
                                                </li>


                                          </ul>
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>




            <section id="info" class="first">
                  <div class="container-fluid ">
                        <div class="row">
                              <div class="col-lg-12">
                                    <div class="text-center">
                                          <H1 style="color:black">HOPE YOU FIND GOOD</H1>
                                          <hr class="h mx-auto">
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>








      </body>
</html>