<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="style.css" rel="stylesheet">
      </head>
      <body>

            <section id="info" class="first">
                  <div class="container-fluid ">
                        <div class="row">
                              <div class="col-lg-12">
                                    <div class="text-center">
                                          <H1 style="color:black">Gyming & Exercise</H1>
                                          <hr class="h mx-auto">
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>




            <section id="info" class="second">
                  <div class="container-fluid ">
                        <div class="row">
                              <div class="col-lg-12">
                                    <div class="text-center">
                                          <h3 style="color:aliceblue">|| A POSITIVE NOTE ||</h3>
                                          <hr class="h mx-auto">
                                          <p style="color:aliceblue" align="justify">It is never too late to start an
                                                exercise
                                                and make changes to your lifestyle for better health. Whether your goal
                                                is to lose weight, improve on muscle tone, or just feel better about
                                                yourself and gain energy, exercise is the place to start.

                                                This part of our site had been designed to help you.
                                                We want to provide you with the tools and information
                                                you need to start on an exercise program, meet your fitness
                                                goals, and ultimately, maintain them. Furthermore, we want to
                                                make sure that you stay healthy and injury-free in the process.</p>
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>


            <div class="line1">
                  <div class="text-center">
                  </div>
            </div>




            <section id="info" class="second">
                  <div class="container-fluid ">
                        <div class="row">
                              <div class="col-lg-12">
                                    <div class="text-center">
                                          <ul>
                                                <h5 style="color:aliceblue">Benefits OF Regular GYM & Exercise</h5>
                                                <hr class="h mx-auto">
                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b> Help you control your weight.</b> Along with diet,
                                                            exercise plays an
                                                            important role in controlling your weight and preventing
                                                            obesity.
                                                            To maintain your weight, the calories you eat and drink must
                                                            equal
                                                            the energy you burn. To lose weight, you must use more
                                                            calories than
                                                            you eat and drink.

                                                      </p>
                                                </li>

                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b>Reduce your risk of heart diseases. </b> Exercise
                                                            strengthens your heart and improves your
                                                            circulation. The increased blood flow raises the oxygen
                                                            levels in your body.
                                                            This helps lower your risk of heart diseases such as high
                                                            cholesterol,
                                                            coronary artery disease, and heart attack. Regular exercise
                                                            can also lower
                                                            your blood pressure and triglyceride levels.

                                                      </p>
                                                </li>

                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b>Improve your mental health and mood. </b> During
                                                            exercise, your body releases chemicals
                                                            that can improve your mood and make you feel more relaxed.
                                                            This can help you deal
                                                            with stress and reduce your risk of depression.

                                                      </p>
                                                </li>


                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b>Help keep your thinking, learning, and judgment skills
                                                                  sharp as you age </b>
                                                            During exercise, your body releases chemicals
                                                            that can improve your mood and make you feel more relaxed.
                                                            This can help you deal
                                                            with stress and reduce your risk of depression.

                                                      </p>
                                                </li>


                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b>Strengthen your bones and muscles </b>
                                                            Regular exercise can help kids and teens build strong bones.
                                                            Later in life, it can also slow the loss of bone density
                                                            that
                                                            comes with age. Doing muscle-strengthening activities can
                                                            help
                                                            you increase or maintain your muscle mass and strength.

                                                      </p>
                                                </li>



                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b> Improve your sleep</b>
                                                            Exercise can help you to fall asleep faster and stay asleep
                                                            longer.
                                                      </p>
                                                </li>




                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b> Increase your chances of living longer </b>
                                                            Studies show that physical activity can reduce your
                                                            risk of dying early from the leading causes of death
                                                            , like heart disease and some cancers.

                                                      </p>
                                                </li>



                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b> Improve your sexual health. </b>
                                                            Regular exercise may lower the risk of erectile
                                                            dysfunction (ED) in men. For those who already
                                                            have ED, exercise may help improve their sexual
                                                            function. In women, exercise may increase sexual arousal.


                                                      </p>
                                                </li>


                                          </ul>
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>




            <div class="line1">
                  <div class="text-center">
                  </div>
            </div>





      
            <section id="info" class="second">
                  <div class="container-fluid ">
                        <div class="row">
                              <div class="col-lg-12">
                                    <div class="text-center">
                                          <ul>
                                                <h5 style="color:aliceblue">How can I make exercise a part of my regular routine?</h5>
                                                <hr class="h mx-auto">
                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b>Make everyday activities more active. </b> 
                                                          Even small changes can help. You can take the stairs 
                                                          instead of the elevator. Walk down the hall to a 
                                                          coworker's office instead of sending an email. Wash 
                                                          the car yourself. Park further away from your destination.  
                                                </li>

                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b>Be active with friends and family.  </b> 
                                                             Having a workout partner may make you more
                                                              likely to enjoy exercise. You can also plan 
                                                              social activities that involve exercise. You 
                                                              might also consider joining an exercise group
                                                               or class, such as a dance class, hiking club
                                                               , or volleyball team.

                                                      </p>
                                                </li>


                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b> Keep track of your progress. </b> 
                                                            Keeping a log of your activity or using a fitness
                                                             tracker may help you set goals and stay motivated.
                                                      </p>
                                                </li>


                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b> Make exercise more fun.</b>
                                                            Try listening to music or watching
                                                             TV while you exercise. Also, mix things 
                                                             up a little bit - if you stick with just
                                                              one type of exercise, you might get bored.
                                                               Try doing a combination of activities.
                                                           
                                                      </p>
                                                </li>


                                                <li>
                                                      <p style="color:aliceblue" align="justify">
                                                            <b>Find activities that you can do even when the weather is bad.</b>
                                                          You can walk in a mall, climb stairs, or work out in a gym even
                                                           if the weather stops you from exercising outside.

                                                      </p>
                                                </li>



                                             

                                          </ul>
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>


       <section id="info" class="first">
                  <div class="container-fluid ">
                        <div class="row">
                              <div class="col-lg-12">
                                    <div class="text-center">
                                          <H1 style="color:black">HOPE YOU FIND GOOD</H1>
                                          <hr class="h mx-auto">
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>



      </body>
</html>