<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>

        <section id="info" class="first">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <H1 style="color:black">Good Sleep</H1>
                            <hr class="h mx-auto">
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section id="info" class="second">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h3 style="color:aliceblue">|| A POSITIVE NOTE ||</h3>
                            <hr class="h mx-auto">
                            <p style="color:aliceblue" align="justify">It is never too late to start an
                                exercise
                                and make changes to your lifestyle for better health. Whether your goal
                                is to lose weight, improve on muscle tone, or just feel better about
                                yourself and gain energy, exercise is the place to start.

                                This part of our site had been designed to help you.
                                We want to provide you with the tools and information
                                you need to start on an exercise program, meet your fitness
                                goals, and ultimately, maintain them. Furthermore, we want to
                                make sure that you stay healthy and injury-free in the process.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="line1">
            <div class="text-center">
            </div>
        </div>




        <section id="info" class="second">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <ul>
                                <h5 style="color:aliceblue">Benefits OF Good Sleep</h5>
                                <hr class="h mx-auto">
                                <li>
                                    <p style="color:aliceblue" align="justify">
                                        <b> Improves your attention and concentration </b>
                                        It’s no surprise that getting a good night’s sleep
                                        can help to keep your energy levels up. But plenty
                                        of rest can also help to keep your mind from wandering
                                        , and maintain your attention throughout the day.Not
                                        sleeping properly can mean that both your body and brain
                                        don’t function properly the next day. It could affect your
                                        attention span, concentration, strategic thinking, assessment
                                        of risk and your reaction times. This is really important if
                                        you have a big decision to make, are driving, or are operating
                                        heavy machinery, because sleep deprivation makes you more likely
                                        to make a mistake or have an accident. But getting plenty of sleep
                                        can help you to stay sharp and focused all day long.

                                    </p>
                                </li>

                                <li>
                                    <p style="color:aliceblue" align="justify">
                                        <b> Helps you maintain a healthy weight</b>
                                        Although more research is needed to fully
                                        understand how sleep affects your weight,
                                        some studies have shown that getting enough
                                        sleep can help you to maintain a healthy weight.
                                        If you’re not sleeping properly, your body will
                                        need more energy because it’s awake for longer.
                                        But you’re more likely to overeat and choose foods
                                        that are high in calories later in the day. It’s also
                                        thought that being sleep-deprived could increase your
                                        appetite, because it changes the level of hormones that
                                        signal hunger and fullness in your body. Not only that,
                                        but if you’re feeling tired, it might also mean you have
                                        less energy to exercise. So getting enough sleep could
                                        help you to maintain a healthy weight.


                                    </p>
                                </li>

                                <li>
                                    <p style="color:aliceblue" align="justify">
                                        <b> Keep your immune system strong </b>
                                        There are also benefits of sleep for your
                                        immune system. This is the system of your
                                        body responsible for fighting off germs and
                                        keeping bugs at bay. Sleep gives your body the
                                        time it needs to rest and repair while you’re sick
                                        . It supports the proteins and cells of your immune
                                        system to detect and destroy any foreign invaders
                                        your body might come into contact with, like the common
                                        cold. It also helps these cells to remember these invaders
                                        , so if you come across the same bugs and germs again, you’re
                                        prepared to fight them off. So it’s essential to allow yourself
                                        time to rest and recover when you’re not feeling well.


                                    </p>
                                </li>


                                <li>
                                    <p style="color:aliceblue" align="justify">
                                        <b>Looks after your emotional and mental wellbeing</b>
                                        Not only is sleep important when looking after your physical
                                        health, but there are psychological benefits of sleep too.
                                        If you have a mental health condition, such as depression or
                                        anxiety, you might find it much more difficult to get a good
                                        night’s sleep. But not getting enough sleep can also increase
                                        your risk of developing poor mental health.For example, if
                                        you’ve got a lot on your mind, are feeling upset, anxious
                                        or worried – you might find you lie awake at night going over
                                        things in your head. But then not being able to sleep only adds
                                        to your list of worries the following day. You might begin to see
                                        a change in your mood and find you’re feeling low. The good news
                                        is improving your sleep can also help to improve your mental health and
                                        wellbeing.

                                    </p>
                                </li>


                                <li>
                                    <p style="color:aliceblue" align="justify">
                                        <b>Reduce your stress levels </b>
                                        There are lots of things that can cause you
                                        to feel stressed, and how you personally deal
                                        with stress will be different from someone else.
                                        But feeling stressed, for example from work, relationships,
                                        financial or health concerns, is often a key factor if you’re
                                        struggling to sleep at night. When you’re feeling stressed,
                                        your body releases ‘stress hormones’, for example cortisol,
                                        which can keep you awake. On the other hand, a good night’s
                                        sleep can have an ‘anti-stress’ effect and relax the systems
                                        in your body that are responsible for this stress response.


                                    </p>
                                </li>



                                <li>
                                    <p style="color:aliceblue" align="justify">
                                        <b>Maintain good relationships </b>
                                        It’s no secret that a bad night’s sleep
                                        can leave you feeling grumpy, while getting
                                        enough good sleep can help to put you in a
                                        positive headspace. And when you’re feeling good,
                                        it’s likely to be felt by the people around you.
                                        The amount of sleep you get can affect your language,
                                        reasoning and communication skills – all key factors
                                        when building relationships with others. A bad night’s
                                        sleep can make it more difficult to control your emotions
                                        and communicate with others, and can sometime lead to conflict.
                                        But getting enough sleep can help you to regulate your emotions,
                                        interact well with others and maintain good interpersonal relationships.



                                    </p>
                                </li>




                                <li>
                                    <p style="color:aliceblue" align="justify">
                                        <b> Learn and make memories </b>
                                        Not only does sleep allow your body the
                                        time it needs to rest, repair and rebuild,
                                        but it does the same for your mind too. As
                                        you sleep, your brain begins to organise and
                                        process all the information you’ve taken on during
                                        the day. It converts your short-term memories into
                                        long-term memories. This helps you to learn and means
                                        that when you wake up, you can often see things more clearly.


                                    </p>
                                </li>





                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>







<section id="info" class="first">
                  <div class="container-fluid ">
                        <div class="row">
                              <div class="col-lg-12">
                                    <div class="text-center">
                                          <H1 style="color:black">HOPE YOU FIND GOOD</H1>
                                          <hr class="h mx-auto">
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>




    </body>
</html>